-
  // ? https://github.com/cfjedimaster/Serverless-Examples/tree/master/recaptcha
  const HOST = 'https://www.google.com/recaptcha/api.js',
        KEY = '6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB'

script(src=`${HOST}?render=${KEY}&onload=initRecaptcha&render=explicit`)
script(type="text/javascript").
  var initRecaptcha = function() {
    grecaptcha.ready(function() {
      grecaptcha.execute('6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB', { action: "homepage" }).then(function(token) {
        document.getElementById('recaptcha_token').value = token;
      });
    });
  }
