//- https://parceljs.org/languages/html/#json-ld
script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "XMEDIA",
    "description": "An educational platform.",
    "telephone": "+7 929-989-2992",
    "openingHours": "Mo,Tu,We,Th,Fr 09:00-17:00",
    "logo": {
      "@type": "ImageObject",
      "url": "./static/android-chrome-512x512.png",
      "width": 180,
      "height": 120
    }
  }
