//- the boilerplate demo depends on this dummy content <(-_- )>
-
  const social = [
    {
      'icon': 'vk',
      'href': 'https://vk.com/',
      'prop': 'sameAs'
    }, {
      'icon': 'ig',
      'href': 'https://www.instagram.com/',
      'prop': 'sameAs'
    }
  ]
-
  const contacts = [
    {
      'icon': 'tel', // &tel; or &phone;
      'phone': data.meta.phone
    }, {
      'icon': 'at', // &commat;
      'email': {
        'to': data.meta.email,
        'subject': '',
        'body': ''
      }
    }
  ]
-
  const list = [
    {
      'listTitle': lineSm,
      'listItems': [
        {
          'text': lineMd,
          'icon': ''
        }, {
          'text': lineSm,
          'icon': RARR
        }
      ]
    }, {
      'text': lineXl,
      'listTitle': lineSm,
      'listItems': [
        {
          'text': lineMd,
          'icon': RARR
        }, {
          'text': lineMd,
          'icon': RARR
        }, {
          'text': lineSm,
          'icon': RARR
        }
      ]
    }, {
      'text': lineXl,
      'icon': RARR
    }, {
      'date': `16 ${lineXs}`,
      'listTitle': lineSm,
      'listItems': [
        {
          'text': lineMd,
          'icon': RARR
        }, {
          'text': lineMd,
          'icon': RARR
        }, {
          'text': lineMd,
          'icon': RARR
        }
      ]
    }, {
      'date': `24 ${lineXs}`,
      'title': lineMd
    }
  ]
-
  const reviews = [
    {
      'rating': 5,
      'title': lineMd,
      'text': [
        lineLg,
        lineLg,
        lineLg,
        lineLg
      ],
      'user': {
        'name': lineSm,
        'avatar': '01',
        'link': IG
      }
    }, {
      'rating': 5,
      'title': lineMd,
      'text': [lineXl, lineXl],
      'user': {
        'name': lineSm,
        'avatar': '02',
        'link': IG
      }
    }
  ]
-
  const slides1 = [
    {
      'title': lineSm,
      'field': [{
        'text': {'KEY': lineMd},
        'icon': RARR
      }]
    }, {
      'title': lineSm,
      'field': [{
        'text': {'KEY': lineSm},
        'icon': RARR,
        'link': IG
      }, {
        'text': {'KEY': lineMd},
        'icon': RARR
      }]
    }, {
      'title': lineSm,
      'field': [{
        'text': {'KEY': lineSm},
        'icon': RARR,
        'link': IG
      }, {
        'text': {'KEY': lineMd},
        'icon': RARR
      }]
    }, {
      'title': lineSm,
      'field': [{
        'text': {'KEY': lineSm},
        'icon': RARR,
        'link': IG
      }, {
        'text': {'KEY': lineMd},
        'icon': RARR
      }]
    }, {
      'title': lineSm,
      'field': [{
        'text': {'KEY': lineSm},
        'icon': RARR,
        'link': IG
      }, {
        'text': {'KEY': lineMd},
        'icon': RARR
      }]
    }, {
      'title': lineSm,
      'field': [{
        'text': {'KEY': lineSm},
        'icon': RARR,
        'link': IG
      }, {
        'text': {'KEY': lineMd},
        'icon': RARR
      }]
    }, {
      'title': lineSm,
      'field': [{
        'text': {'KEY': lineSm},
        'icon': RARR,
        'link': IG
      }, {
        'text': {'KEY': lineMd},
        'icon': RARR
      }]
    }, {
      'title': lineSm,
      'field': [{
        'text': {'KEY': lineSm},
        'icon': RARR,
        'link': IG
      }, {
        'text': {'KEY': lineMd},
        'icon': RARR
      }]
    }, {
      'title': lineSm,
      'field': [{
        'text': {'KEY': lineSm},
        'icon': RARR,
        'link': IG
      }, {
        'text': {'KEY': lineMd},
        'icon': RARR
      }]
    }, {
      'title': lineSm,
      'field': [{
        'text': {'KEY': lineSm},
        'icon': RARR,
        'link': IG
      }, {
        'text': {'KEY': lineMd},
        'icon': RARR
      }]
    }
  ]
-
  const slides2 = [
    {
      'title': lineMd,
      'link': IG
    }, {
      'title': lineMd,
      'link': IG
    }, {
      'title': lineMd,
      'link': IG
    }, {
      'title': lineMd,
      'link': IG
    }, {
      'title': lineMd,
      'link': IG
    }, {
      'title': lineMd,
      'link': IG
    }, {
      'title': lineMd,
      'link': IG
    }, {
      'title': lineMd,
      'link': IG
    }, {
      'title': lineMd,
      'link': IG
    }, {
      'title': lineMd,
      'link': IG
    }, {
      'title': lineMd,
      'link': IG
    }
  ]
