mixin dataFilter({ title='', field='', link='', text='', date: meta='' })
  if title
    +head({ text: title, level: 3 })
  if field
    +list({ items: field, icon: MARKER })
  if link
    +link({ href: link, icon: 'ig' })

mixin textContent(props)
  -
    let {
      parentDOM: wrap='',
      classList: classes=['flow', 'carousel__text'],
    } = props

  if wrap === 'article'
    article(class= classes): block
  else if wrap === 'caption'
    figcaption(class= classes): block
