@use '../config';

.page__footer {
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  z-index: 1010;
}

.page__footer {
  --flow-space: var(--spacer-3x);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  inline-size: 100%;

  // .byline { font-style: italic; }

  .logo {
    // block-size: 100%;
    max-inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a { --arrow: '' }

  p {
    display: grid;
    place-items: center;
    font-family: var(--font-primary);
    color: var(--neutral);
  }

  time {
    font-size: inherit;
    font-weight: 500;
    font-style: normal;
    color: inherit;
    text-shadow:
      0 1px 0 hsl(var(--black) / .04),
      0 0 5px hsl(var(--white) / .15);
  }

  u > svg {
    max-inline-size: 100%;
    block-size: auto;

    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.1;
    will-change: transform;
    transform: rotate(0) scale(1.25);
    animation: spinAroundAxle 7s linear infinite forwards;
    filter: drop-shadow(0 3px 6px var(--accent-shade));

    & > text {
      font-feature-settings: 'case' 1;
      text-transform: uppercase;
      stroke: var(--accent-shade);
      fill: currentcolor;
      color: var(--accent-extra);

      [data-theme-style=light] & { color: var(--accent); }
    }
  }
}

@keyframes spinAroundAxle {
  from { transform: rotate(360deg) scale(1.25); }
}
