@use '../config';

// https://ryanmulligan.dev/blog/layout-breakouts/
// https://www.smashingmagazine.com/2019/10/editorial-design-patterns-css-grid-subgrid-naming/

.grid {
  display: grid;
  grid-template-rows: minmax(min-content, 1fr);
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [content-start start-half-start] minmax(0, 1fr)
    [center-start] minmax(0, 2fr)
    [start-half-end end-half-start] minmax(0, 2fr) // <-- midway
    [center-end] minmax(0, 1fr)
    [end-half-end content-end] minmax(0, 1fr)
    [full-end];
  // row-gap: var(--spacer-6x);
  overflow-x: hidden;
  column-gap: var(--gutter);
  contain: layout;

  & > * + * {
    @include config.border-gradient(
      135deg,
      var(--accent),
      var(--accent-shade)
    );

    box-shadow: 0 0 15px var(--accent-a25),
          inset 0 0 15px var(--accent-a25);

    &:where(:not([data-id='works'], [data-id='reviews'])) {
      padding-inline: var(--spacer-2x);

      @include config.respond('tablet') {
        padding-inline: unset;
      }
    }
  }

  @for $i from 1 through 10 {
    .container:nth-child(#{$i}) {
      grid-row: $i;
    }
  }

  &__full {
    grid-column: full-start / full-end;
    grid-column: full;
  }

  &__asym-lhs,
  &__asym-rhs,
  &__start-half,
  &__end-half,
  &__center,
  &__content {
    grid-column: full;
  }

  @include config.respond('tablet') {
    // & { row-gap: var(--spacer-14x); }

    // LHS
    &__start-half {
      grid-column: start-half-start / start-half-end;
      grid-column: start-half;
    }

    // RHS
    &__end-half {
      grid-column: end-half-start / end-half-end;
      grid-column: end-half;
    }

    &__content {
      display: grid;
      grid-column: content-start / content-end;
      grid-column: content;
    }

    &__center {
      grid-column: center-start / center-end;
      grid-column: center;
    }

    // ? utility-first classes
    // var-props:
    &__col {
      grid-column: var(--col-start, var(--s, 1)) / var(--col-end, var(--e, 2));
    }
    &__row {
      grid-row: var(--row-start, var(--s, 1)) / var(--row-end, var(--e, 2));
    }
    // intervals: 1/3, 1/4, etc.
    &__col--third   { --col-start: 1; --col-end: 3; }
    &__col--quarter { --col-start: 1; --col-end: 4; }

    // left-to-right (across the middle of)
    &__edge-to-edge   { grid-column: full-start / full-end; }
    &__edge-to-center { grid-column: full-start / center-start; }
    &__center-to-edge { grid-column: center-end / full-end; }

    // asymmetrical left-hand side
    &__asym-lhs {
      grid-column: 1 / span 2;
      grid-column: 1 / 3;

      // box-shadow:
      //   0 0 15px var(--accent-a25),
      //   inset 0 0 15px var(--accent-a25);
    }

    // asymmetrical right-hand side
    &__asym-rhs {
      grid-column: 3 / span 4;
      grid-column: 3 / 7;
    }
  }

  &--2cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: inherit;
  }

  &--3cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: inherit;
  }

  &--4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: inherit;
  }
}

@for $i from 1 through 4 {
  [data-columns='#{$i}'] {
    display: grid;

    @include config.respond('tablet') {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}
