@use 'sass:map';

@mixin bg-images($subdir, $selector: 'image') {
  $subdir-prefix: '/src/images';
  $subdir-list: (
    'reel1': (
      1: '1',
      2: '2',
      3: '3',
      4: '4',
      5: '5',
      6: '6',
      7: '7',
      8: '8',
      9: '9',
      10: '10',
    ),
    'reel2': (
      1: '1',
      2: '2',
      3: '3',
      4: '4',
      5: '5',
      6: '6',
      7: '7',
    ),
  );
  $has-subdir: map.has-key($subdir-list, $subdir);

  @if $has-subdir {
    $opted-subdir: map.get($subdir-list, $subdir);

    @each $index, $value in $opted-subdir {
      // [class$='#{$selector}']
      &:nth-of-type(#{$index}) {
        .webp & {
          // background-image: url('#{$subdir-prefix}/#{$subdir}/#{$value}.webp');
          --bg-image: url('#{$subdir-prefix}/#{$subdir}/#{$value}.webp');
        }

        .no-webp & {
          // background-image: url('#{$subdir-prefix}/#{$subdir}/#{$value}.webp');
          --bg-image: url('#{$subdir-prefix}/#{$subdir}/#{$value}.webp');
        }
      }
    }
  }
  @else {
    @error 'Подкаталог #{$subdir} отсутствует в #{$subdir-prefix}';
  }
}
