// https://adrianroselli.com/2019/10/accessible-drop-caps.html#Ideal
// https://css-tricks.com/snippets/css/drop-caps/
@mixin drop-cap($size: 6rem, $lh: 0.65) {
  &::first-letter {
    float: left;
    margin: 0.1em 0.1em 0.2em 0;
    font-family: inherit;
    font-size: $size;
    line-height: $lh;
  }
}
