@mixin mask($expr) {
  position: relative;

  @if $expr == 'border-gradient' {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      padding: 1px;
      border-radius: inherit;
      background-image: var(--lin-grad-4-color);
      mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      mask-composite: add, add;
      mask-composite: exclude;
    }
  }
}
