extends ./pug/page

block vars
  - let page = data.pages.offer;

block content
  mixin orderedList(title)
    h2.h2.subhead.h-count= title
    ol(role="list")
      block

  section.terms
    h1.h1.headline
      | О заключении договора на оказание услуг по организации
      | и проведению физкультурно-оздоровительных и спортивных мероприятий
      | г. Великий Новгород
    p
      | Настоящая публичная оферта (далее «Оферта») адресована физическим лицам, достигшим возраста 18 (восемнадцати) лет (далее «Клиент»), и является официальным публичным предложением ИП Королева Наталья Владимировна (далее — Исполнитель), вместе именуемые «Стороны», а по отдельности – «Сторона», заключить Договор на оказание услуг по организации и проведению физкультурно-оздоровительных и спортивных мероприятий в помещении фитнес студии "Body & Mind fitness studio" (далее «Студия»), в соответствии с п. 2 ст. 437 ГК РФ. Договор между Сторонами заключается путем акцепта Клиентом настоящей Оферты.
      | Настоящая Оферта размещена на сайте Студии по адресу: !{data.meta.domain + page.path[1]}
    p
      | Акцептом (принятием) условий, изложенных в настоящей Оферте, является поступление денежных средств от Клиента на счет Исполнителя в оплату Услуг. В соответствии с п. 3 ст. 438 ГК РФ акцепт оферты равносилен заключению договора в письменной форме на условиях, изложенных в оферте.
    p
      | Договор между Клиентом и Исполнителем в отношении выбранной Клиентом Услуги считается заключённым на условиях Оферты с момента акцепта и до полного исполнения Сторонами своих обязательств по нему.
      | Акцептом условий настоящей Оферты Клиент безоговорочно соглашается с условиями настоящей Оферты.

    +orderedList('ПРЕДМЕТ ОФЕРТЫ')
      li
       | Исполнитель обязуется на условиях настоящей Оферты оказывать услуги по организации и проведению физкультурно-оздоровительных и спортивных мероприятий (далее «Услуги») в соответствии с утвержденным им перечнем и стоимостью Услуг, а Клиент, оплачивая Услуги, принимает условия настоящей Оферты и обязуется соблюдать при пользовании ими правила посещения, принципы работы Студии (далее «правила Студии»), с которыми он ознакомлен и соглашается с его условиями.
      li
        | Услуги оказываются по адресу: г. Великий Новгород, ул. Студенческая, д. 17, этаж 1, в часы работы Студии, график работы которой размещён на информационных носителях, расположенных в помещении Студии по адресу оказания Услуг, и/или на сайте Студии, размещенному в сети Интернет по адресу: https://bodymind.studio , а так же в аккаунтах социальных сетей Студии.
      li
        | Условия настоящей Оферты вступают в силу с момента оплаты Услуг Клиентом и действуют до момента ее исполнения Исполнителем, если иное не предусмотрено в настоящей Оферте (отказ Клиента от Услуг).

    +orderedList('ПРАВА И ОБЯЗАННОСТИ СТОРОН')
      li
        | Исполнитель обязуется:
        ol(role="list")
          li
            | Обеспечить надлежащее качество оказываемых Услуг, в порядке и на условиях, обозначенных в Договоре, правилах Студии, иных документах Исполнителя, размещенных на сайте Студии;
          li
            | Обеспечить надлежащее функционирование спортивного оборудования и инвентаря, а также вспомогательного оборудования в помещениях Студии, в соответствии с техническими нормами эксплуатации соответствующего оборудования, установленными производителем;
      li
        | Исполнитель имеет право:
        ol(role="list")
          li
            | В одностороннем порядке устанавливать и изменять условия настоящей Оферты, правила посещения, принципы работы Студии; перечень и стоимость Услуг;
          li
            | Привлекать третьих лиц для оказания Услуг;
          li
            | В случае аварийных ситуаций, произошедших не по вине Исполнителя, и/или вследствие возникновения обстоятельств непреодолимой силы, в одностороннем порядке ограничивать объем и порядок предоставления Услуг Студии, без предоставления какой-либо компенсации;
          li
            | В одностороннем внесудебном порядке отказаться от Договора в порядке и сроки, предусмотренные правилами Студии.
      li
        | Клиент обязуется:
        ol(role="list")
          li
            | В порядке и на условиях настоящей Оферты оплачивать Услуги;
          li
            | Соблюдать правила Студии, иные документы, непосредственно связанные с оказанием Услуг, в том числе размещенные на сайте Исполнителя, правила техники безопасности при нахождении в Студии, с которыми Клиент ознакомился при регистрации на сайте Студии, согласен с условиями и обязуется их соблюдать;
          li
            | Соблюдать требования, рекомендации тренера Студии/сотрудника Студии.
      li
        | Клиент имеет право:
        ol(role="list")
          li
            | Пользоваться оплаченным и Услугами, участвовать в мероприятиях, проводимых в Студии, на условиях, дополнительно предусмотренных Исполнителем;
          li
            | Предварительно бронировать время оказания Услуг Студии после их оплаты;
          li
            | Посещать только предварительно оплаченные Услуги и заранее записавшись на тренировку;
          li
            | В одностороннем внесудебном порядке отказаться от Договора в случаях, в порядке и сроки, предусмотренные правилами Студии;
          li
            | Пользоваться иными услугами Студии в соответствие с условиями их оказания, указанными на сайте Студии.

    +orderedList('СТОИМОСТЬ УСЛУГ. ПОРЯДОК РАСЧЕТОВ')
      li
        | Оплата Услуг по настоящей Оферте производится Клиентом единовременно в виде 100% предварительной оплаты, путем перечисления денежных средств на расчетный счет Исполнителя или в кассу Студии, или путем списания денежных средств с банковской карты Клиента (онлайн оплата). Стоимость Услуг указывается на сайте Студии и действительна на момент оплаты.
      li
        | Все расчеты по настоящей Оферте осуществляются исключительно в рублях Российской Федерации, НДС не облагается.
      li
        | Клиент заявляет о своем согласии и поручении Исполнителю проведения на периодической основе операций по безналичной оплате услуг по Договору (реккурентные платежи) с использованием реквизитов банковской карты Клиента, без его фактического присутствия и предъявления банковской карты (онлайн оплата). При согласии Клиента с использованием реквизитов банковской карты для осуществления оплаты услуг в Студии, Клиент настоящим подтверждает, что при подаче настоящего поручения Клиент был проинформирован(а) и согласился со следующим:
        ol(role="list")
          li
            | До подписания настоящего Поручения как минимум одна операция оплаты по карте, включая тестовые операции с последующей отменой, была проведена Исполнителем в его/ее присутствии с электронным вводом данных банковской карты в POS-терминале и была заверена вводом ПИН-кода и/или подписью
          li
            | На операции, совершенные по банковской карте, распространяются положения договора с эмитентом банковской карты и правила платежной системы, в рамках которых выпущена банковская карта
          li
            | Данное поручение выдается исключительно для целей оплаты услуг Студии
          li
            | В случае утери/кражи банковской карты Клиент должен незамедлительно информировать об этом Исполнителя
          li
            | До момента получения Исполнителем отказа от использования банковской карты для оплаты услуг либо информации об утере карты все списания денежных средств путем проведения операций по банковской карте в соответствии с настоящим поручением считаются проведенными Клиентом Студии или с его согласия и не будут оспариваться, включая случаи неиспользования оплаченных услуг по Договору
          li
            | В случае возникновения спорных вопросов в части проведения операций с использованием банковской карты Клиента, включая ее несанкционированное использование для оплаты услуг по Договору, Клиенту Студии необходимо обращаться с соответствующим заявлением к Исполнителю.
      li
        | Для прекращения последующих операций с использованием реквизитов банковской карты по оплате Клиентом услуг по Договору, Клиенту необходимо в обязательном порядке направить Исполнителю соответствующий письменный отказ. При этом, до момента получения Исполнителем такого отказа, все оплаты, произведенные с использованием реквизитов банковской карты Студии, считаются правомерными и не будут оспариваться Клиентом, включая случаи оплаченных, но неиспользованных услуг Студии.

    +orderedList('ОТВЕТСТВЕННОСТЬ СТОРОН')
      li
        | Клиент несет полную материальную ответственность за ущерб, причиненный Исполнителю. В случае причинения Клиентом ущерба Исполнителю, Клиент обязан возместить стоимость поврежденного (испорченного) и/или утраченного имущества и/или оборудования, иного спортивного инвентаря, принадлежностей Студии, в том числе предоставленных Клиенту.
      li
        | В случае нарушения Клиентом правил Студии, Исполнитель вправе в одностороннем внесудебном порядке отказать Клиенту в оказании Услуг, а также удержать стоимость понесенных расходов в порядке и размере предусмотренных в правилах Студии, а также указанных на сайте Студии.
      li
        | Соглашаясь с условиями настоящей Оферты Клиент осознает возможные опасности, связанные с характером услуг и несет полную личную ответственность за свои действия, а также за свою жизнь и здоровье. В случае получения травмы, ухудшения самочувствия Клиент не будет иметь претензий к Исполнителю/Студии. Клиент заявляет, что он не имеет медицинских противопоказаний для посещения Студии и участия в физкультурно-оздоровительных и спортивных мероприятиях, организуемых и/или проводимых Исполнителем, и несет полную ответственность за состояние своего здоровья, за жизнь и безопасность, в том числе с учетом запретов на посещение Студии и/или участия в его физкультурно-оздоровительных и спортивных мероприятиях, указанных в правилах Студии. Исполнитель не несет ответственность за вред, связанный с любым ухудшением здоровья (самочувствия) Клиента, и/или травмы, полученных в результате любых самостоятельных занятий, в том числе самостоятельных практик в Студии, за исключением тех случаев, когда вред причинен непосредственно действиями Исполнителя.
      li
        | Исполнитель не несет ответственности:
        ol(role="list")
          li
            | За вред, причиненный жизни или здоровью Клиента при нарушении им правил посещения Студии, и/или требований (рекомендаций) тренеров Студии, и/или правил техники безопасности, соблюдения санитарно-гигиенических требований при пользовании Услугами, и/или по неосторожности Клиента, кроме случаев наличия вины Исполнителя, установленной в определенном законом порядке;
          li
            | За вред, причиненный жизни, здоровью и/или имуществу Клиента действиями третьих лиц и/или самим Клиентом;
          li
            | За утрату или повреждение личных вещей, в том числе ценных, оставленных Клиентом в раздевалках или в других помещениях Студии/на территории Студии.
      li
        | 4.5. Заключая настоящий Договор, Клиент соглашается с тем, что он не вправе требовать от Исполнителя/Студии какой-либо компенсации морального, материального вреда или вреда, причиненного его здоровью, как в течение срока действия Договора, так и по истечении срока его действия, за исключением случаев документально-подтвержденных виновных действий Исполнителя.
      li
        | 4.6. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы.

    +orderedList('ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ')
      li
        | Все споры и разногласия при их возникновении связанные с исполнением настоящей Оферты Стороны будут стремиться решать путем проведения переговоров. Досудебный претензионный порядок урегулирования споров обязателен для Сторон. Срок ответа на письменную претензию составляет 30 (тридцать) календарных дней с момента ее направления одной из сторон другой стороне.
      li
        | Во всем остальном, что прямо не предусмотрено настоящей Офертой, Стороны руководствуются правилами Студии, иными документами, непосредственно связанными с оказанием Услуг, в том числе размещенными на сайте Исполнителя, а также действующим законодательством Российской Федерации.

    +orderedList('ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ КЛИЕНТА')
      li
        | Соглашаясь с условиями настоящей Оферты Клиент, действуя своей волей и в своем интересе, обязуется предоставить и дает согласие (предоставляет право) Исполнителю на получение и обработку персональных данных Клиента, в любом виде, любым способом в соответствие с законодательством РФ (далее по тексту «ПДн»): Ф.И.О., номер телефона, e-mail, дата и место рождения, адрес регистрации, биометрические данные (рост, вес и др. данные о физической активности (время и продолжительность физической активности и др.), графические изображения (фото-, видео- изображения пользователя/с участием пользователя и пр.), с использованием средств автоматизации или без использования таких средств, для целей обеспечения исполнения Исполнителем своих обязательств по настоящей Оферте, в том числе для использования ПДн на любых ресурсах Исполнителя на период оказания Услуг, а также трех последующих лет. Под обработкой ПДн в соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных» понимаются действия (операции) с ПДн, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение ПДн.
      li
        | Клиент несет ответственность за достоверность предоставленных Исполнителю сведений и данных, в том числе персональных данных, а в случае их изменения обязан незамедлительно информировать об этом Исполнителя, в противном случае вся ответственность за не информирование Исполнителя о достоверных сведениях и данных и неблагоприятные последствия, связанные с этим, возлагаются на Клиента в полном объеме.

    +orderedList('ПРОЧИЕ ПОЛОЖЕНИЯ')
      li
        | Оферта вступает в силу с момента ее акцепта Клиентом и действует до полного исполнения обязательств Сторонами или до момента расторжения/отказа от Договора.
      li
        | Акцептом Оферты Клиент подтверждает, что все условия, изложенные в ней, ему понятны и им принимаются.
      li
        | Акцептом Оферты Клиент подтверждает, что он ознакомился с правилами Студии, Перечнем и стоимостью услуг, Политикой конфиденциальности, и их содержание ему понятны и принимаются им.
      li
        | Акцептом Оферты Клиент подтверждает свое согласие на получение информации путем информирования его по телефону, сообщениями SMS на номер телефона и путем направления писем на адрес электронной почты, по контактным данным, указанным Клиентом при регистрации на сайте Студии, а также подтверждает, что рассылка информационных сообщений Исполнителем по указанным Клиентом номеру телефона и адресу электронной почты, будут считаться принятыми Клиентом.
      li
        | Акцептом Оферты Клиент подтверждает, что актуальность правил клуба и оферты отслеживает самостоятельно. Исполнитель не обязан уведомлять о изменениях.

    +orderedList('РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ')
      li
        | Исполнитель: ИП Королева Наталья Владимировна
      li
        | Юридический адрес: Новгородский р-н, д.Плетниха, ул.Чапаева, д.20,
      li
        | ОГРНИП 318532100021883
      li
        | ИНН 532004637012
      li
        | Банковские реквизиты:
        ol(role="list")
          li
            | р/с 40802 810 4 43000004566
          li
            | НОВГОРОДСКОЕ ОТДЕЛЕНИЕ N 8629 ПАО СБЕРБАНК к/с 30101810100000000698
          li
            | БИК 044959698

    p Дата публикации: 01.01.2022

block scripts
