extends ./pug/page

block vars
  - let page = data.pages.payment
  -
    let imgPath = './images'
    let bankName = 'АО «Альфа-Банк»'
  -
    let methods = [
      'Mastercard', 'Visa', 'Mir',
      // 'Apple Pay', 'Google Pay',
    ]

block content
  section.terms
    article
      //- h1.h1.headline Оплата на сайте Банковской картой
      h1.h1.headline
        | Информация о способах оплаты, а также правила оплаты по банковским картам
      p
        | Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку «Оплата заказа банковской картой». Оплата происходит через !{bankName} с использованием следующих платежных систем:

      .payment-methods(style={ 'display': 'flex', 'flex-wrap': 'wrap' })
        each sysName in methods
          span.icon
            span: img(src=`${imgPath}/${toLowerCase(sysName)}.svg` alt= sysName)

      h2.h2.subhead Описание процесса передачи данных
      p
        | Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз АО «Альфа-Банк». Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.#[br]
        | В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование.#[br]
        | Конфиденциальность сообщаемой персональной информации обеспечивается АО «Альфа-Банк». Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl.#[br]
        //- | Возврат переведенных средств, производится на Ваш банковский счет в течение 5—30 рабочих дней (срок зависит от Банка, который выдал Вашу банковскую карту).

block scripts
